@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.header-wrapper {
    width: 100%;
    padding-bottom: 50px;
}

.header-container {
    width: 100%;
    height: 80px;
    line-height: 80px;
    user-select: none;
}

.header-logo { 
    text-align: center;
    margin-top: 20px; 
}

.header-logo a {
    text-decoration: none;
    color: inherit;
    color: rgb(0, 0, 0);
}

.header-logo a:hover {
    text-shadow: rgb(145, 145, 145) 1px 0 10px;
}

.header-logo-text {
    font-size: 50px;
    text-align: center;
    margin-left: 0px;
    font-family: 'Playfair Display', serif;
    padding: 10px;
}

.header-links {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: 'Playfair Display', serif;
}

.header-links a {
    color: rgb(0, 0, 0);
    margin-right: 10px;
    margin-left: 10 px;
    outline: 0;
    padding: 5%;
}

.header-links a:last-child {
    margin-right: 0px;
}

@media only screen and (max-width: 900px) and (min-width: 0px) {
    .header-container {
        height: 35px;
        line-height: 35px;
        text-align: center;
        margin-top: 20px;
    }
    .header-logo {
        display: block;
    }

    .header-logo-text {
        font-size: 25px;
        margin-left: 7.5px;
        font-weight: bold;
        padding-top: 2.5px;
        font-family: 'Playfair Display', serif;
    }

    .header-links {
        text-align: center;
        float: none;
        font-size: 14px;
    }
}